/* HIDDEN ELEMENTS */
#identity-box,
#urlbar-icons > image,
#urlbar-container dropmarker,
#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down,
#appmenu-toolbar-button .toolbarbutton-text,
#appmenu-toolbar-button .toolbarbutton-menu-dropmarker,
#new-tab-buton .tabs-newtab-button
toolbar#addon-bar toolbarbutton .toolbarbutton-menubutton-dropmarker,
toolbar#addon-bar #addonbar-closebutton
{
    display:none!important;
}

/* BUTTONS */
/* sharpened by stargazer */
#back-button .toolbarbutton-icon,
#forward-button .toolbarbutton-icon,
#reload-button .toolbarbutton-icon,
#urlbar-reload-button .toolbarbutton-icon,
#stop-button .toolbarbutton-icon,
#urlbar-stop-button .toolbarbutton-icon,
#tabbrowser-tabs tab .tab-close-button .toolbarbutton-icon,
#appmenu-toolbar-button .toolbarbutton-icon
{
    list-style-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAAAMCAYAAADWBmv0AAAAsUlEQVR42u1VSQ7AIAj0/6/QuHyThgOJMQqjJemhTuKlLMIMxRAuLmC01uiNvUeMkWqtlHNexpRSpjaO03Jb9lmtSMxWk5bfrHEmxbNglIieaIiIHaU1fyaBL5+RoU2GFImqhtQrPiklgmJ2SbDiVs1YTVp1cDwf9pMj37R8IgDUp9dE9AqcTITX7zn68N1wj55FjDtB2xGjokj+kz2yJbbHtu5VsF4Na6w/I+Li4r94AMKR3nDHYnbdAAAAAElFTkSuQmCC")!important;
}
#back-button .toolbarbutton-icon
{ 
    -moz-image-region:rect(0, 11px, 11px, 0)!important;
}
#forward-button .toolbarbutton-icon
{
    -moz-image-region:rect(0, 22px, 11px, 11px)!important;
}
#reload-button .toolbarbutton-icon,
#urlbar-reload-button .toolbarbutton-icon
{
    -moz-image-region:rect(0, 33px, 11px, 22px)!important;
}
#stop-button .toolbarbutton-icon,
#urlbar-stop-button .toolbarbutton-icon,
#tabbrowser-tabs tab .tab-close-button .toolbarbutton-icon
{
    -moz-image-region:rect(0, 44px, 11px, 33px)!important;
}
#new-tab-button .toolbarbutton-icon
{
    -moz-image-region:rect(0, 55px, 11px, 44px)!important;
}
#appmenu-toolbar-button .toolbarbutton-icon
{
    -moz-image-region:rect(0, 66px, 11px, 55px)!important;
}
#back-button,
#forward-button,
#reload-button,
#stop-button,
.tab-close-button,
#appmenu-toolbar-button
{
    background:transparent!important;
    border:0!important;
    min-height:14px!important;
    max-height:14px!important;
    min-width:14px!important;
    max-width:14px!important;
    margin:0!important;
    padding:0!important;
    -moz-appearance:none!important;
}
#TabsToolbar toolbarbutton .toolbarbutton-icon
{
    margin-top:-3px!important;
}
#main-window toolbarbutton,
#appmenu-toolbar-button
{
    padding-top:2px!important;
}
#main-window #appmenu-toolbar-button
{
    padding-left:4px!important;
}
#main-window #appmenu-toolbar-button .toolbarbutton-icon
{
    margin:-1px 0 0!important;
}

/* URL BAR */
#urlbar
{
    background:#3F3F3F!important;
    border:0!important;
    border-left:1px solid #101010!important;
    color:rgba(255,255,255,.6)!important;
    margin:0 0 0 3px!important;
    max-height:16px!important;
    min-height:16px!important;
    padding:0 0 0 2px!important;
    text-align:left!important;
    text-shadow:rgba(0,0,0,.4) 0 0 1px!important;
    -moz-transition:color .2s ease-in-out,background .2s ease-in-out;
    -moz-appearance:none!important;
}
#urlbar:hover,
#main-window #tabbrowser-tabs tab:hover,
#main-window #tabbrowser-tabs tab[selected]
{
    background:#222!important;
    color:#fff!important;
}
#urlbar #notification-popup-box
{
    background:-moz-linear-gradient(rgba(75,75,75,.2),rgba(0,0,0,.4))!important;
    border:0!important;
    border-right:1px solid rgba(0,0,0,.4)!important;
    max-height:16px!important;
    max-width:16px!important;
    padding:0 4px!important;
    border-radius:0px 0 0 1px!important;
    -moz-border-image:none!important;
    -moz-margin-end:0!important;
}
#urlbar #notification-popup-box .notification-anchor-icon
{
    max-height:10px!important;
    max-width:10px!important;
}

/* TABS */
#main-window #tabbrowser-tabs tab
{
    background:#3F3F3F!important;
    border:0!important;
    border-left:1px solid #101010!important;
    color:rgba(255,255,255,.6)!important;
    margin:0!important;
    max-height:16px!important;
    min-height:16px!important;
    padding:0 2px!important;
    text-shadow:rgba(0,0,0,.8) 0 0 1px!important;
    border-radius:0!important;
}
#main-window #tabbrowser-tabs tab .tab-label
{
    margin-top:-4px!important;
}
#main-window #tabbrowser-tabs tab .tab-throbber,
#main-window #tabbrowser-tabs tab .tab-icon-image
{
    max-height:10px!important;
    max-width:10px!important;
    margin-top:-3px!important;
}
#main-window #tabbrowser-tabs tab[fadein]
{
    -moz-transition:all .2s ease-in-out!important;
}
#main-window #tabbrowser-tabs tab .tab-close-button
{
    margin-top:-4px!important;
    opacity:0!important;
    -moz-transition:all .1s ease-in-out!important;
}
#main-window #tabbrowser-tabs tab .tab-close-button .toolbarbutton-icon
{
    max-height:12px!important;
    max-width:12px!important;
}
#main-window #tabbrowser-tabs tab[selected] .tab-close-button,
#main-window #tabbrowser-tabs tab:hover .tab-close-button
{
    opacity:1!important;
}
#main-window #tabbrowser-tabs tab[fadein]:not([pinned])
{
    min-width:40px!important;
    max-width:160px!important;
}
#main-window #tabbrowser-tabs tab[pinned]
{
    max-width:18px!important;
    min-width:18px!important;
}
#main-window #tabbrowser-tabs tab[pinned] .tab-close-button
{
    display:none!important;
}

/* ADD ON BAR */
toolbar#addon-bar
{
    background:#3F3F3F!important;
    border:0px solid #101010!important;
    max-height:20px!important;
    min-height:20px!important;
    -moz-appearance:none!important;
}
toolbar#addon-bar toolbarbutton
{
    border:0!important;
    max-height:20px!important;
    min-height:20px!important;
    margin:0!important;
    padding:0!important;
    -moz-appearance:none!important;
}
scrollbox#PlacesToolbarItems toolbarbutton
{
    border:0!important;
    border-left:1px solid transparent!important;
    border-right:1px solid transparent!important;
    max-height:20px!important;
    min-height:20px!important;
    max-width:24px!important;
    min-width:24px!important;
    padding:0 0 0 3px!important;
    -moz-appearance:none!important;
}
scrollbox#PlacesToolbarItems toolbarbutton .toolbarbutton-icon
{
    height:16px!important;
    opacity:.7;
    width:16px!important;
    -moz-transition:all .1s linear;
}
scrollbox#PlacesToolbarItems toolbarbutton:hover .toolbarbutton-icon
{
    opacity:1;
}
scrollbox#PlacesToolbarItems toolbarbutton:hover
{
    background:#222!important;
    border-left:1px solid #101010!important;
    border-right:1px solid #101010!important;
    box-shadow:#0f0f0f 0 -1px 3px;
}
scrollbox#PlacesToolbarItems toolbarbutton:active
{
    background:#101010!important;
    border-left:1px solid #101010!important;
    border-right:1px solid #101010!important;
}
scrollbox#PlacesToolbarItems toolbarbutton:first-child,
scrollbox#PlacesToolbarItems toolbarbutton:first-child:hover,
scrollbox#PlacesToolbarItems toolbarbutton:first-child:active
{
    border-left:0!important;
}

/* MAIN WINDOW */
#main-window #urlbar,
#main-window #urlbar-container
{
    max-width:240px!important;
}
#main-window:not([chromehidden*="toolbar"])
{
    margin:0!important;
}
#main-window #TabsToolbar
{
    background:#3F3F3F!important;
    border:0px solid #101010!important;
    max-height:16px!important;
    min-height:16px!important;
    margin:0!important;
    padding:0!important;
    -moz-appearance:none!important;
}

select > button,
select > input
{
    opacity:0!important;
}

/* NEW TAB */
#newtab-scrollbox:not([page-disabled])
{
    background-color:#3F3F3F!important;
    background-image:url("chrome://browser/skin/newtab/noise.png"), -moz-linear-gradient(rgba(10,10,10,.25), rgba(40,40,40,.25))!important;
}
.newtab-cell
{
    background-color:rgba(51,51,51,.5)!important;
    -moz-user-focus:ignore!important;
}
.newtab-site
{
    box-shadow:rgba(0,0,0,.5) 0 0 15px!important;
}
.newtab-site:hover
{
    box-shadow:rgba(0,0,0,.75) 0 0 30px!important;
}
.newtab-title
{
    background-color:rgba(38,39,41,.95)!important;
    color:rgb(161,131,131)!important;
    text-align:center!important;
    box-shadow:rgba(0,0,0,.2) 0 -3px 3px;
}
